
<div class="container">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">About the Blog</h5>
    <p class="card-text">This is a brand new blog on various domains of programming.</p>
    <a href="/blog" class="btn btn-primary">Click to view Blogs</a>
  </div>
</div>
</div>
